.App {
  font-family: sans-serif;
  text-align: center;
}
main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}
/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #e4fbff;
  color: #7868e6;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navigation Bar Styles */
nav {
  background: rgba(184, 181, 255, 0.75);
  opacity: 0.5;
  color: #000000;
  padding: 20px;
  display: flex;
  justify-content: center;
  /*width: 100%;*/
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

nav ul li {
  /*display: -webkit-inline-box;*/
  margin-right: 10px;
  list-style: none;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

/* Header Styles */
h1 {
  font-size: 32px;
  margin: 20px 25px;
}
h2 {
  font-size: 20px;
  margin: 20px 25px;
}

/* Paragraph Styles */
p {
  margin: 10px 0;
  margin-left: 30px;
  text-decoration: none;
}

/* Footer Styles */
footer {
  background: rgba(184, 181, 255, 0.75);
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  color: #000000;
}

/* Image Styles */
img {
  max-width: 100%;
  height: auto;
}
html,
body {
  height: 0%;
  width: 100%;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#contactus h1 {
  color: #000000;
}
#contactus li {
  list-style: none;
}
#services li {
  list-style: none;
}
#services h1 {
  color: #000000;
}
#portfolio h1 {
  color: #000000;
}
/*#portfolio {
  position: absolute;
  margin-top: 10%;
  margin-left: 50%;
}*/
#aboutus h1 {
  color: #000000;
}
#aboutus {
  position: relative;
  margin-left: 50%;
}
#home h1 {
  color: #000000;
}
#cv {
  position: absolute;
  margin-left: 20%;
  width: 30%;
  height: 9.5%;
  background: #ced8ff;
  border-radius: 6px;
}
#contactus {
  width: 100%;

  display: absolute;
  align-content: center;
}
